.authentication::before {
    content: "";
    position: absolute;
    height: 100%;
    width: 100%;
    opacity: 0.3;
    left: 0;
    top: 0;
    background: radial-gradient(rgb(210, 241, 223), rgb(211, 215, 250), rgb(186, 216, 244)) 0% 0% / 400% 400%;
}

.authentication .auth-header {
    position: absolute;
    top: 0;
    left: 0;
}

.authentication .boxed-auth-wrap {
    margin: 0 auto;
    max-width: 450px;
    position: relative;
}

/* Center text in verification fields */
.verification .v-field__input {
    text-align: center;
}

/* Auth Divider */
.auth-divider {
    position: relative;
}

.auth-divider span {
    z-index: 1;
}

.auth-divider::before,
.auth-divider::after {
    position: absolute;
    width: 100%;
    border-top: thin solid rgb(229, 234, 239);
    top: 50%;
    content: "";
    transform: translateY(50%);
}

.auth-divider::after {
    right: 0;
}

/* Responsive */
@media (max-width: 1280px) {
    .authentication .auth-header {
        position: unset;
    }

    .mh-100 {
        height: 100% !important;
    }
}

@media (max-width: 600px) {
    .mw-100 {
        width: 100%;
        padding: 0 15px;
    }
}

/* Layout adjustments for large screens */
@media (min-width: 1536px) {
    .auth .v-col-lg-7 {
        flex: 0 0 66.66%;
        max-width: 66.66%;
    }

    .auth .v-col-lg-5 {
        flex: 0 0 33.33%;
        max-width: 33.33%;
    }
}

/* Authentication Page */
.authpage .v-application__wrap {
    display: block;
}

.authpage .login-app-wrapper {
    height: 100%;
    display: flex;
    justify-content: center;
    overflow: hidden;
}

.authpage .auth-login {
    max-width: 1600px;
    margin: 10px auto;
    width: 100%;
    display: flex !important;
    justify-content: center;
}