.month-table td,
.month-table th {
    border-bottom: 0 !important;
}

/* Padding tuỳ chỉnh cho bảng */
.month-table.custom-px-0 {

    thead tr th:first-child,
    tr.month-item td:first-child {
        padding-left: 0 !important;
    }

    thead tr th:last-child,
    tr.month-item td:last-child {
        padding-right: 0 !important;
    }
}

.month-table tr.month-item {
    td {
        padding: 12px 0 !important;
    }

    &:hover {
        background: transparent !important;
    }
}

/* Recent Transaction */
.recent-transaction .line {
    width: 1px;
    height: 35px;
}

/* Chip Label */
.chip-label {
    width: 80px;
    justify-content: center;
}

/* Border Left Colors */
.border-left-indigo {
    border-left: 5px solid rgb(var(--v-theme-indigo)) !important;
}

.border-left-success {
    border-left: 5px solid rgb(var(--v-theme-success)) !important;
}

.border-left-error {
    border-left: 5px solid rgb(var(--v-theme-error)) !important;
}

.border-left-primary {
    border-left: 5px solid rgb(var(--v-theme-primary)) !important;
}

.border-left-info {
    border-left: 5px solid rgb(var(--v-theme-info)) !important;
}

.border-left-secondary {
    border-left: 5px solid rgb(var(--v-theme-secondary)) !important;
}

/* Upcomming Schedule */
.upcomming-schedule .v-tabs {
    --v-tabs-height: 42px !important;
}

.upcomming-schedule .v-tabs .v-slide-group-item--active {
    background-color: rgb(var(--v-theme-primary));
}

.upcomming-schedule .v-tabs .v-tab--selected .v-tab__slider {
    opacity: 0;
}

/* Tabs Group */
.upcomming-schedule.tabs_group .v-slide-group__content {
    justify-content: space-between;
}

.upcomming-schedule .v-tab {
    --v-btn-height: 42px;
    min-width: 75px;
}

.upcomming-schedule .v-tabs--grow .v-tab {
    flex: none;
}