.sidebar {
    height: 100vh;
    background-color: #5585c9; /* bg-gray-900 */
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
}

.logo {
    height: 4rem; /* h-16 */
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 1.25rem; /* text-xl */
    font-weight: 600;
    border-bottom: 1px solid #374151; /* border-gray-700 */
}

.menu {
    background-color: #111827;
    color: white;
}

.menuItem {
    transition: background-color 0.3s;
}

.menuItem:hover {
    background-color: #374151; /* hover:bg-gray-700 */
}

.menuItem a {
    color: white;
    text-decoration: none;
}
